* {
  box-sizing: border-box;
}

body {
  background-color: #90c7e3;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#wrapper {
  background-color: #ffffff;
  background: linear-gradient(white, lightblue);
}

#header-area {
  padding: 1em;
}

#header-area a:link {
  color: white;
  text-decoration: none;
}

#header-area a:visited {
  color: white;
}

#header-area a:hover {
  color: #90c7e3;
}

h1 {
  text-align: center;
  background-color: #002171;
  margin: 0;
  font-size: 1.5em;
}

nav {
  align-items: center;
  margin: 0;
  font-size: 0.9em;
  display: inline;
  text-align: center;
  background-color: white;
}
#nav-ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  border-bottom: 1px solid;
}

#nav-ul a:link {
  color: #5c7fa3;
  text-decoration: none;
  margin: 0;
}

#nav-ul a:visited {
  color: #344873;
}

#nav-ul a:hover {
  color: #a52a2a;
}

#nav-ul {
  margin: 0;
  padding: 0;
  container: flex;
  flex-direction: column;
}

main {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  background-color: #ffffff;
  margin-left: 170px;
  overflow: auto;
}

h2 {
  color: #1976d2;
  margin: 0%;
  padding: 1%;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  color: #666666;
}

dt {
  font-weight: bold;
}

.resort {
  font-size: 30px;
  color: #1976d2;
}

.resort-address {
  font-size: 30px;
  color: #1976d2;
}

#mobile {
}

footer p {
  font-style: italic;
  font-size: small;
}

footer {
  text-align: center;
  margin: 0%;
  font-size: 15px;
  background-color: white;
  padding: 1em;
}

#address p {
  padding: 0;
  margin: 0;
}

#yurt-info {
  column-count: 3;
  display: flex;
}

#yurt-info section {
  overflow: hidden;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#activity-info {
  column-count: 3;
  display: flex;
  column-gap: 10%;
}

#yurt-hero {
  background-image: url(../images/yurt.jpg);
  background-size: 200%, 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#home-hero {
  background-image: url(../images/coast.jpg);
  background-size: 200%, 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#trail-hero {
  background-image: url(../images/trail.jpg);
  background-size: 200%, 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#sunset-image {
  background-image: url("../images/sunset.jpg");
  height: 72px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
