h1 {
  color: white;
  text-align: center;
  padding-top: 0.5em;
}

nav {
  color: #1976d2;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

nav p {
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

nav a {
  color: #002171;
  text-decoration: none;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

h2 {
  color: #1976d2;
  margin: 0%;
  padding: 1;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  color: #666666;
  padding: 1;
}

#wrapper {
  margin: 3%;
  padding: 0%;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: black 3px 5px;
  background-color: #ffffff;
}

html {
  background: linear-gradient(white, lightblue);
}

main {
  background-color: white;
  margin: 0%;
  padding-left: 2em;
  padding-right: 2em;
}

footer {
  background-color: white;
  margin: 0%;
  padding: 1em;
}

footer p {
  text-align: center;
  margin: 0%;
  font-size: 15px;
  background-color: white;
}

#address p {
  padding: 0;
  margin: 0;
}

#yurt-info dd {
  padding: 0;
  margin: 0;
}

#yurt-info dl {
  padding: 1%;
  margin: 0;
}

#yurt-info dt {
  padding: 1%;
  margin: 0;
  color: #002171;
  font-size: 30px;
}

#activity-info p {
  padding: 0;
  margin: 0;
}
span {
  font-size: 40px;
  color: #1976d2;
}

#yurt-img img {
  height: 100%;
  width: 100%;
}

#home-img img {
  height: 100%;
  width: 100%;
  background-color: white;
}

#activities-img img {
  height: 100%;
  width: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sunset.jpg");
  height: 72px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-clip: border-box;
}
